li {
    margin: 10px 5px 10px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.gif-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gif {
    length: "auto"; 
    width: 550px;
}